*.aux
*.log
*.out
*.pdf
*.toc
*.synctex.gz
_*
**/submit/
**/bin/
*.nav
*.snm
*.vrb
**/out/
*.iml
*.bbl
*.blg
**/personal_info/
*.xdv
*.fls
*.fdb_latexmk
**/build/
**/.cache/
**/*.lol
**/*.lof
**/*.lot
**/dotpics/
